/* ------------------ Global Code Below ------------------ */

* {
    margin: 0;
    padding: 0;
}


/* ------------------ Header Code Below ------------------ */

.header {
    height: 165px;
    font-size: 20px;
    background-color: skyblue;
    font-weight: 700;
    flex: 1 1 70px initial;
    opacity: 0.7;
}

.navbar-brand img {
    height: auto;
}

.nav-item {
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    opacity: 1;
}

.nav-item img:hover {
    border-color: red;
}

.nav-item img {
    height: 100px;
    width: 100px;
    border-radius: 30px;
}

#navbar-brand {
    font-size: 1.5em;
    font-family: fantasy;
    padding-left: 3%;
}

#navbar-nav {
    padding-right: 0;
    flex: 1 0 auto;
    justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
    #navbar-brand {
        display: none;
    }
    #navbar-nav {
        height: 100%;
        width: 100%;
        justify-content: center;
        flex: 1 1 auto;
    }
}


/* ------------------ Body Code Below ------------------ */

body {
    background: url("LaPerlaSanJuan.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    color: red;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

#canvas {
    width: 100vw;
    height: 100vw;
    z-index: -1;
    position: fixed;
}

.main-content {
    justify-items: center;
}

.main-content h1 {
    justify-content: center;
    text-align: center;
}

.main-content h2 {
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .main-content,
    .card,
    .card-body,
    .card-text,
    .card-title,
    .btn width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
}


/* -------------------new card styling below---------------------------------- */

.card-1,
.card-2,
.card-3 {
    padding: 20px;
    border-radius: 15px;
    border: 5px;
    color: red;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.w3-container img {
    padding: 10px;
    border: 5px;
    border-radius: 15px;
    background-color: white;
    border-color: skyblue;
    color: white;
    opacity: 1;
}

.w3-container .simple-shadow {
    padding: 10px;
}

.card-1 .w3-container .btn {
    background-color: red;
    border-color: skyblue;
    color: white;
    margin-left: 25px;
}

.card-2 .w3-container .btn {
    background-color: red;
    border-color: skyblue;
    color: white;
    margin-left: 25px;
}

.card-3 .w3-container .btn {
    background-color: red;
    border-color: skyblue;
    color: white;
    margin-left: 25px;
}

.card-1 .w3-container .btn:hover {
    background-color: blue;
}

.card-2 .w3-container .btn:hover {
    background-color: blue;
}

.card-3 .w3-container .btn:hover {
    background-color: blue;
}


/* -------------------new card styling above------------------------------- */

.main-content {
    display: inline;
    color: red;
    background-color: rgb(250, 248, 248, 0.7);
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    width: fit-content;
    border-radius: 15px;
}

.main-content .card-title>p {
    display: inline-flexbox;
}


/*------------------below is styling for btn-group--------------- 


.main-content .container .btn-group a {
    padding-left: 20px;
    padding-bottom: 50px;
    justify-content: space-evenly;
}

.main-content .container .btn-group {
    justify-content: center;
}

.btn-group img {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    justify-items: center;
} -----------above is the styling for btn-group---------------------*/


/* ------------------ Footer Code Below ------------------ */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}


/* This is the container for the social media icons */

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: red;
    background-color: rgba(0, 0, 0, 0.25);
    width: fit-content;
    border-radius: 15px;
    left: 0;
    bottom: 0;
    margin-top: 10px;
    margin-left: -730px;
}

.copy-text {
    color: rgb(241, 61, 15);
}


/* This is for the white circles */

.icon {
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 2em;
    height: 2em;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(150%)
}


/* This selects all the social icon images */

.facebook,
.twitter,
.instagram,
.github,
.linkedin {
    color: blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .social-wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .social-wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.footer .social-wrapper .icon:hover span,
.footer .social-wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer .social-wrapper .facebook:hover,
.footer .social-wrapper .facebook:hover .tooltip,
.footer .social-wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.footer .social-wrapper .twitter:hover,
.footer .social-wrapper .twitter:hover .tooltip,
.footer .social-wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.footer .social-wrapper .instagram:hover,
.footer .social-wrapper .instagram:hover .tooltip,
.footer .social-wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.footer .social-wrapper .github:hover,
.footer .social-wrapper .github:hover .tooltip,
.footer .social-wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.footer .social-wrapper .linkedin:hover,
.footer .social-wrapper .linkedin:hover .tooltip,
.footer .social-wrapper .linkedin:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}